@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #08e3ac;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scrollable container */
.scrollable-container {
    overflow: auto;
}

/* Apply scrollbar styles to scrollable container */
.scrollable-container::-webkit-scrollbar {
    width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #08e3ac;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


